body {
    height: 100vh;
}

.container {
    display: flex;
    justify-content: start;
    /* align-items: center; */
    flex-direction: row;
    margin: 3rem 0;
    min-width: 100vw;
    min-height: 100vh;
    /* border: 1px solid black; */
}

.container-aside {
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
    height: 100%;
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: rgb(45, 29, 58, 0.6);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.8);
}

.container-aside__section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 700px;
    /* border: 1px solid black; */
    border-radius: 10px;
}

.container-aside__form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    border-radius: 10px;
}

.container-aside__section_category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100px;
    gap: 1rem;
}

.select-category {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    /* border: 1px solid black; */
    border-radius: 20px;
    outline: none;
    text-align: center;
}

.container-aside__section_price {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 150px;
    /* border: 1px solid black; */
    border-radius: 10px;
}

input[type='range'] {
    height: 34px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 80%;
    border-radius: 10px;
    background-color: #00220000;
}
input[type='range']:focus {
    outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #7933ff;
    background: #f23da0;
    border-radius: 10px;
    border: 1px solid #e6abff;
}
input[type='range']::-webkit-slider-thumb {
    box-shadow: 3px 3px 3px #7933ff;
    border: 2px solid #e6abff;
    height: 23px;
    width: 23px;
    border-radius: 23px;
    background: #f23da0;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}
input[type='range']:focus::-webkit-slider-runnable-track {
    background: #f23da0;
}
input[type='range']::-moz-range-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #7933ff;
    background: #f23da0;
    border-radius: 1px;
    border: 1px solid #e6abff;
}
input[type='range']::-moz-range-thumb {
    box-shadow: 3px 3px 3px #7933ff;
    border: 2px solid #e6abff;
    height: 23px;
    width: 23px;
    border-radius: 23px;
    background: #f23da0;
    cursor: pointer;
}
input[type='range']::-ms-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type='range']::-ms-fill-lower {
    background: #f23da0;
    border: 1px solid #e6abff;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #7933ff;
}
input[type='range']::-ms-fill-upper {
    background: #f23da0;
    border: 1px solid #e6abff;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #7933ff;
}
input[type='range']::-ms-thumb {
    margin-top: 1px;
    box-shadow: 3px 3px 3px #7933ff;
    border: 2px solid #e6abff;
    height: 23px;
    width: 23px;
    border-radius: 23px;
    background: #f23da0;
    cursor: pointer;
}
input[type='range']:focus::-ms-fill-lower {
    background: #f23da0;
}
input[type='range']:focus::-ms-fill-upper {
    background: #f23da0;
}

.container-aside__state__checkbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container-aside__state {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100px;
    gap: 1rem;
}

.select-state {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    /* border: 1px solid black; */
    border-radius: 20px;
    outline: none;
    text-align: center;
}

.container-aside__section_location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    gap: 1rem;
}

.search-location {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50px;
    /* border: 1px solid black; */
    border-radius: 20px;
    outline: none;
    text-align: center;
}

.container-main {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    position: relative;
    /* top: 20rem; */
    width: 1500px;
}

.container-main__container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    border-radius: 10px;
    width: 80%;
    cursor: pointer;
    background: rgb(242, 61, 160);
    background: linear-gradient(to right, #11d9c5, #f23da0);
    color: white;
    border: 1px solid white;
    font-size: 1.1rem;
    transition: 1s;
}

.btn-filter:hover {
    background: #11d9c5;
    background: linear-gradient(to right, #f23da0, #11d9c5);
    transform: scale(1.1);
}

.btn-reset {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    border-radius: 10px;
    width: 80%;
    cursor: pointer;
    background: rgb(242, 61, 160);
    background: linear-gradient(to right, #11d9c5, #f23da0);
    color: white;
    border: 1px solid white;
    font-size: 1.1rem;
    transition: 1s;
}

.btn-reset:hover {
    background: #11d9c5;
    background: linear-gradient(to right, #f23da0, #11d9c5);
    transform: scale(1.1);
}

.range-price__text {
    color: white;
    font-size: 1.3rem;
}

.filter-h3 {
    color: #11d9c5;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
    font-size: 1.3rem;
}

.container-aside__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 15%;
    /* border: 1px solid black; */
    gap: 1rem;
}

.no-results {
    color: white;
    display: none;
}

.ul-filtered {
    gap: 1rem;
    list-style: none;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 100%;
}

option {
    font-size: 1.1rem;
    background-color: #f23da1d7;
    color: white;
}
