.review-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 450px;
    border-radius: 10px;
    background: rgba(242, 61, 161, 0.507);
    background: linear-gradient(
        180deg,
        rgba(242, 61, 161, 0.781) 0%,
        rgba(230, 171, 255, 0.733) 33%,
        rgba(17, 217, 197, 0.664) 66%,
        rgba(26, 110, 255, 0.74) 100%
    );
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.8);
}

.review-card {
    display: flex;
    position: relative;
    flex-shrink: 1;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 800px;
    height: 450px;
    border-radius: 10px;
    background-color: rgba(45, 29, 58, 0.555);

    box-sizing: border-box;
    cursor: pointer;
}

.review-card__name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 50px;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    border-bottom: 1px solid rgb(255, 255, 255);
    /* border-radius: 20px; */
    color: rgb(248, 248, 248);
    outline: none;
}

.review-card__image-container {
    margin-top: 1rem;
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border: 1px solid rgb(255, 255, 255);

    border-radius: 10px;
    overflow: hidden;
}

.review-card__image {
    width: 250px;
    height: 250px;
    object-fit: cover;
}
.review-card__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
    width: 500px;
    height: 500px;
    padding: 1rem;
    box-sizing: border-box;
}

.review-card__form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
    width: 500px;
    height: 500px;
    padding: 1rem;
    box-sizing: border-box;
}

.review-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 50px;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    border-bottom: 1px solid black;
    border-radius: 20px;
    color: black;
    outline: none;
}

.review-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 150px;
    font-size: 24px;
    /* font-weight: 600; */
    color: #fff;
    text-align: center;
    border-bottom: 1px solid black;
    border-radius: 20px;
    resize: none;
    color: black;
    outline: none;
}

.review-card__button {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 70px;
    border-radius: 10px;
    border: 1px solid white;

    background: linear-gradient(to right, #11d9c5, #f23da0);
    color: white;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.review-card__button:hover {
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.75);
}

.stars-select {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 50px;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    border-bottom: 1px solid black;
    border-radius: 20px;
    color: black;
    outline: none;
}

:root {
    --color-inactivo: #5f5050;
    --color-hover: #ffa400;
}

.fa-star {
    font-size: 30px;
}

.container-stars {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* .valoracion {
    display: flex;
    flex-direction: row-reverse;
}
.valoracion button {
    background-color: initial;
    border: 0;
    color: var(--color-inactivo);
    transition: 1s all;
}
.valoracion button:hover {
    cursor: pointer;
    color: var(--color-hover);
    transform: rotate(360deg);
}

.button1:nth-child(1) ~ button {
    color: var(--color-hover);
    transform: rotate(360deg);
}

.button2:nth-child(2) ~ button {
    color: var(--color-hover);
    transform: rotate(360deg);
}

.button3:nth-child(3) ~ button {
    color: var(--color-hover);
    transform: rotate(360deg);
}

.button4:nth-child(4) ~ button {
    color: var(--color-hover);
    transform: rotate(360deg);
}

.button5:nth-child(5) ~ button {
    color: var(--color-hover);
    transform: rotate(360deg);
}

button:nth-child(1):hover ~ button {
    color: var(--color-hover);
    transform: rotate(360deg);
}
button:nth-child(2):hover ~ button {
    color: var(--color-hover);
    transform: rotate(360deg);
}
button:nth-child(3):hover ~ button {
    color: var(--color-hover);
    transform: rotate(360deg);
}
button:nth-child(4):hover ~ button {
    color: var(--color-hover);
    transform: rotate(360deg);
}
button:nth-child(5):hover ~ button {
    color: var(--color-hover);
    transform: rotate(360deg);
}

.stars-select {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 50px;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    border-bottom: 1px solid black;
    border-radius: 20px;
    color: black;
    outline: none;
} */
