.navbar {
    display: flex;
    position: sticky;
    z-index: 1;
    /* position: fixed; */
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100px;
    background-color: rgba(45, 29, 58, 0.87);
    box-shadow: 0 3px 10px rgba(241, 241, 241, 0.8);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
}

.search-form {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50px;
    border-radius: 10px;
    outline: none;
    text-align: center;
    background-color: #ffffff2c;
    color: white;
}

.upload-product-nav {
    text-decoration: none;
}
.upload-product {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 230px;
    height: 60px;
    border-radius: 20px;
    font-size: 18px;
    outline: none;
    text-align: center;
    /* background-color: rgb(49, 49, 49); */
    background: rgb(242, 61, 160);
    background: linear-gradient(to right, #11d9c5, #f23da0);
    color: white;
    border: 1px solid white;
    cursor: pointer;
    transition: 1s;
}
.upload-product:hover {
    background: #11d9c5;
    background: linear-gradient(to right, #f23da1, #11d9c5);
    transform: scale(1.1);
}

.login {
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
}

.dropdown-menu {
    position: absolute;
    top: 90px;
    right: 50px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
    padding: 10px;
}

.dropdown-menu p {
    margin: 0;
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu li {
    cursor: pointer;
    padding: 8px 0;
    text-align: center;
}

/* Agrega estilos para el avatar */
.user {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}

.dropdown-menu-bookings-requests,
.dropdown-menu-show-profile,
.dropdown-menu-review-request {
    text-decoration: none;
    color: black;
}
