.navbar {
    display: flex;
    /* position: fixed;
    z-index: 1; */
    position: sticky;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100px;
    background-color: rgba(45, 29, 58, 1);
    box-shadow: 0 0 10px rgba(241, 241, 241, 0.5);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
}

.search-form {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50px;
    border-radius: 10px;
    outline: none;
    text-align: center;
}

.upload-product {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 230px;
    height: 60px;
    border-radius: 10px;
    font-size: 18px;
    outline: none;
    text-align: center;
    /* background-color: rgb(49, 49, 49); */
    background: rgb(242, 61, 160);
    background: linear-gradient(to right, #11d9c5, #f23da0);
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

.login {
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
}
